.SkillsSection {
}

.skills-container {
  background-color: rgb(73, 73, 180);

  border: solid rgb(73, 73, 180) 5px;
  border-radius: 20px;
  .skill-title {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
