.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
}

.hero-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-size: 3.6rem;

  span {
    color: white;
  }
}

.h-sub-text {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: larger;
}

.svg-inline--fa.fa-linkedin.fa-w-14.icon.li {
  width: 4rem;
  height: 4rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: #f7f7f7;
      transition: all 0.4s ease-in-out;
    }
    .li:hover {
      color: #0e76a8;
    }
    .gh:hover {
      color: rgba(233, 71, 71, 0.842);
    }
  }
}
